
<a *ngFor="let icon of spaFxConfigService.socialIcons"
    [href]="icon.link" 
    [title]="icon.alt">
    <img 
         class="top-image" 
         [src]="icon.imageFile" 
         [alt]="icon.alt">
</a>

<div *ngIf="spaFxConfigService.showLanguageSelector">
  <img class="flag-image" src="assets/images/barbados-flag-bw.png" alt="flag">
  <span>BAJAN</span><span class="glyphicon glyphicon-chevron-down"></span>
</div>

<div *ngIf="spaFxConfigService.showUserControls">
  <span>SIGN IN</span>
</div>