
<div *screenBelowLarge class="title-bar-small ovrd-title-bar-small">
  <span class="glyphicon glyphicon-menu-hamburger"></span>
  <div class="small-image-holder">
    <img class="small-image" src="assets/images/bmr-logo.png" alt="BMR Logo" >
  </div>
  <span class="glyphicon glyphicon-option-vertical"></span>
</div>

<div *screenLarge class="title-bar ovrd-title-bar">
  <img src="assets/images/bmr-logo.png" alt="BMR Logo" >
  <div class="menu-area">
      <spafx-top-bar>
      </spafx-top-bar>
      <!--menu-->
  </div>
</div>
